extends layout

block content

  .grid-column-1-16
    img.image(src='/img/#{infos.cloudProvider}_logo.png', title='#{infos.cloudProvider} cloud', alt='Running on #{infos.cloudProvider}', width='75')

  h1.grid-column-1-10= title
  .grid-column-11-13
    button#launchBtn.btn.btn-success.btn-block Launch
  .grid-column-15-16
    button#resetBtn.btn.btn-danger.btn-block Reset

  .grid-column-1-16
    h4 Running on Container: #{infos.host} Container IP: #{infos.ip}

  .grid-column-1-16
    if infos.instanceId
      h4 Running on Instance: #{infos.instanceId} Availability zone: #{infos.availabilityZone} Type: #{infos.instanceType} IP: #{infos.privateIp}

  .grid-column-1-16
    p Mathematical visualization of the
      a(href="https://en.wikipedia.org/wiki/Mandelbrot_set", target="blank") Mandelbrot set

  .grid-column-1-16
    .alert.alert-danger.error.hidden(role="alert")

  .grid-column-1-16
    .panel
      .panel-heading
        h4.panel-title
          a.btn.btn-default(data-toggle="collapse", href="#parameters") Change parameters
      #parameters.panel-collapse.collapse
        .panel-body
          .form-inline
            .form-group
              label(for="maxIteration") Max iterations
              input#maxIteration.form-control(type="number")
            .form-group
              label(for="stepX") StepX
              input#stepX.form-control(type="number")
            .form-group
              label(for="stepY") StepY
              input#stepY.form-control(type="number")

  .grid-column-1-16
    hr

  .grid-column-1-11
    canvas#result(width="780",height="520")
    hr
    #sessionResults.hidden
      h2 Session results
      table#results.table
        thead
          tr
            th Run ID
            th Start Time
            th Precision (max iteration)
            th # Tasks
            th # Workers
            th Compute time (ms)
            th Compute speed (#ops/s)
          tbody

  .grid-column-13-16
    #stats.pull-right.hidden
      dl
        dt # Tasks total
        dd#computeTaskCount
        dt # Tasks remaining
        dd#computeTaskRemaining
        dt Total compute time
        dd.time
        dt Compute speed (#ops/s)
        dd#computeSpeed
      table#containersStats.table.table-striped.center
        thead
          tr
            th ID
            th Container
            th # Tasks
        tbody
